*.i
*.lst
*.o
/SOFT/UKU/EXE/*.axf
/SOFT/UKU/EXE/*.sct
/SOFT/UKU/EXE/UKU_220_IPS_TERMOKOMPENSAT.htm
/SOFT/UKU/EXE/*.plg
/SOFT/UKU/EXE/UKU_220_IPS_TERMOKOMPENSAT.hex
/SOFT/UKU/EXE/UKU_220_IPS_TERMOKOMPENSAT.fed
/SOFT/UKU/EXE/*.lnp
/SOFT/UKU/EXE/*.tra
